
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permitir lectura y escritura a cualquier usuario autenticado en la plataforma
      // Se recomienda segmentar por tenantId en el path para mayor seguridad en producción
      allow read, write: if request.auth != null;
    }
  }
}
